header {
    height: 60px;
    background-color: #01354b6c;
    display: flex;
    align-items: center;
}

.grmovie-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.grmovie-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.grmovie-contact-container {
    display: flex;
    align-items: center;
}

.grmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}
